doctype html
html(lang='en' ng-app='myApp')
  head
    title testing
    meta(charset='utf-8')
    link(rel='stylesheet', href='/css/style-test.css')
    script(src="jslib/jquery")
  body
    block content
