.separator-line {
	height: 1px;
    border-bottom: 1px solid gray;
    width: 50%;
    margin: 20px 0;
}

/*pica pagination  start*/
.pica-pagination-wrap .page-size {
    display: inline-block;
    width: 70px;
    vertical-align: middle;
    padding: 5px 12px;
    height: 32px;
}
.pica-pagination-wrap .pagination{
    vertical-align: middle;
}
.pica-pagination-wrap .total-items{
    border: 1px solid #ccc;
    border-radius: 1px;
    display: inline-block;
    padding: 5px 10px;
    background-color: white;
    margin-left: 10px;
    vertical-align: middle;
}
.pica-pagination-wrap {

}
/*pica pagination  end*/

.x-header {
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
}
.x-container {
    margin-top: 72px;
}
.navbar-default {
    box-shadow: 0 3px 3px rgba(0,0,0,0.175);
}
.nav-right {
    float: right;
}
.info-item {
    display: inline-block;
    padding-top: 15px;
    padding-bottom: 15px;
}