<h3>Directive Demo</h3>

<!--<div>hello directive</div>-->
<hello class="aaa" txt-title="AngularJS"></hello>

<!--<div class="separator-line"></div>-->

<!--<div>expander directive</div>  -->
<!--<input type="text" ng-model="title"/>-->
<!--<expander class="expander" expand-title="title"></expander>-->



<hello>
    <div>hello</div>
    <beautiful good test>
        beautiful
    </beautiful>
</hello>

<div class="separator-line"></div>
form
<style type="text/css">
    .my-form {
        -webkit-transition: all linear 0.5s;
        transition: all linear 0.5s;
        background: transparent;
    }
    .my-form.ng-invalid {
        background: red;
    }
</style>
<form name="myForm" class="my-form">
    userType: <input name="input" ng-model="userType" required>
    <span class="error" ng-show="myForm.input.$error.required">Required!</span><br>
    <span>userType = {{userType}}</span><br>
    <span>myForm.input.$valid = {{myForm.input.$valid}}</span><br>
    <span>myForm.input.$error = {{myForm.input.$error}}</span><br>
    <span>myForm.$valid = {{myForm.$valid}}</span><br>
    <span>myForm.$error.required = {{!!myForm.$error.required}}</span><br>
</form>

