doctype html
html
	head
		title positioning

		style.
			html,
			body {
				height: 100%;
				margin: 0px;
				padding: 0px;
			}
			.top {
				height: 100px;
				background-color: green;
			}
			.center {
				height: 100px;
				background-color: gray;
			}
			.content {
				position: center;
			}
			.bottom {
				height: 100px;
				background-color: yellow;
			}
	body
		div.top top
		div.center
			div.content sss
		div.bottom